.wrapper-card {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper-card:nth-child(1) {
  background-color: rgba(255, 156, 42, 0.17);
}

.wrapper-card:nth-child(2) {
  background-color: rgba(146, 4, 255, 0.089);
}

.wrapper-card p {
  color: #444;
  font-weight: 600;
  padding: 0 0.4rem;
}

.image-wrapper {
  width: 15%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
}
