.table-container {
  width: 20%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins" sans-serif;
  border-left: 1px solid transparent;
  overflow-x: scroll;
  box-sizing: border-box;
  padding-left: 0;
}

.table-container__heading {
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  color: #222;
  margin: 1.5rem 0 0.4rem 1rem;
}

.points-table {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

table {
  border-collapse: collapse;
}

td {
  color: #666;
  font-size: 0.8rem;
  padding: 0.3rem;
  text-align: center;
  padding: 1rem 0;
}
td img {
  width: 25%;
  margin-right: 0.5rem;
}

td:first-of-type {
  text-align: left;
  padding: 0.5 1.5rem 0 0;
  vertical-align: middle;
  font-weight: 500;
}

td:first-of-type img {
  vertical-align: middle;
}
thead tr:first-of-type {
  background: #f8f8f8;
}

td:nth-child(6) {
  font-weight: 600;
}

tr:nth-child(4) {
  border-bottom: 2px solid #ececec;
}

tbody tr:nth-child(1) {
  border-top: 2px solid #ececec;
}

th {
  color: #555;
  font-size: 0.9rem;
  padding: 0.3rem;
  text-align: center;
  /* border-bottom: 1px solid #ececec; */
}
th:first-of-type {
  text-align: left;
  padding: 0 2rem 0 0.3rem;
}

td:last-of-type {
  text-align: left;
}
