@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-image: linear-gradient(
    90deg,
    white 14.8%,
    #f8f8f8 9% 79.6%,
    white 79.5%
  );
  overflow-y: auto;
}

.middle-container {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 65%;
  background: #f8f8f8;
  padding: 1rem 1rem;
}
